<div>
  <h1>Crear nueva comanda</h1>
  <hr>
  <div class="row">
    <h2>Previsualización</h2>
    <div class="col">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Ver Productos
      </button>

      <comanda-card [comanda]="this.comandaNueva"></comanda-card>

      <button type="button" class="btn btn-success m-2" (click)="enviarComanda(this.comandaNueva)">Enviar comanda</button>
    </div>

    <div class="col">
      <comanda-detalles-generales></comanda-detalles-generales>
    </div>

  </div>


  <!-- Modal -->
  <div class="modal modal-lg fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Ver productos.</h1>
          <button type="button" (click)="onCloseModal()" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <nav-productos [tiposProducto]="tiposProducto" (tipoProductoSeleccionado)="filtrar($event)">
          </nav-productos>

          <productos-panel-seleccion [productos]="productos" (detalleEmit)="actualizarDetalles($event)">
          </productos-panel-seleccion>

        </div>
        <div class="modal-footer">
          <button type="button" (click)="onCloseModal()" class="btn btn-secondary"
            data-bs-dismiss="modal">Cerrar</button>

        </div>
      </div>
    </div>
  </div>

</div>