<div>
  <h1>Crear nueva comanda</h1>
  <hr>
  <div class="row">
    <h2>Previsualización</h2>
    <div class="col">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Ver Productos
      </button>

      <comanda-card [comanda]="this.comandaNueva"></comanda-card>

      <button type="button" class="btn btn-success m-2" (click)="enviarComanda(this.comandaNueva)">Enviar comanda</button>
    </div>

    <div class="col">
      <comanda-detalles-generales></comanda-detalles-generales>
    </div>

  </div>

  <!-- Modal -->
<!-- (onCloseModal)="this.onCloseModal()" -->
  <modal-agregar-productos 
  [tiposProducto]="tiposProducto"
  (actualizaDetalles)="actualizarDetalles($event)"
  (cerrarModal)="onCloseModal()"
  ></modal-agregar-productos>

</div>