<div>
    <div class="d-flex justify-content-between">
        <h1>Productos</h1>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editarProducto">
            Agregar producto
          </button>
    </div>
    <hr>
    <nav-productos 
        [tiposProducto]="tiposProducto" 
        (tipoProductoSeleccionado)="filtrar($event)"
        >
    </nav-productos>

    <div class="tab-content" id="tablaProductos">

        <div
            class="tab-pane fade show active" 
            id="tab-item" 
            role="tabpanel" 
            aria-labelledby="tab-item" 
            tabindex="0">
            <producto-tabla [productos]="productos"></producto-tabla>
        </div>

    </div>

    <modal-editar-producto></modal-editar-producto>
</div>